<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<br />
<div class="page-content container note-has-grid">
    <ul class="nav nav-pills p-3 bg-white mb-3 rounded-pill align-items-center">
        <li [routerLink]="['/home']" routerLinkActive="active"class="nav-item">
            <a href="javascript:void(0)" class="nav-link rounded-pill note-link d-flex align-items-center px-2 px-md-3 mr-0 mr-md-2" id="note-business"> <i class="icon-briefcase mr-1"></i><span class="d-none d-md-block">All Exercises</span></a>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link rounded-pill note-link d-flex align-items-center px-2 px-md-3 mr-0 mr-md-2 active" id="all-category">
                <i class="icon-layers mr-1"></i><span class="d-none d-md-block">Favorites</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0)"
                class="nav-link rounded-pill note-link d-flex align-items-center px-2 px-md-3 mr-0 mr-md-2"
                id="note-social"> <i class="icon-share-alt mr-1"></i><span class="d-none d-md-block">Trainer</span></a>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0)"
                class="nav-link rounded-pill note-link d-flex align-items-center px-2 px-md-3 mr-0 mr-md-2"
                id="note-important"> <i class="icon-tag mr-1"></i><span class="d-none d-md-block">Social</span></a>
        </li>
        <li class="nav-item ml-auto">
            <a href="javascript:void(0)" class="nav-link btn-primary rounded-pill d-flex align-items-center px-3"
                id="add-notes"> <i class="icon-note m-1"></i><span class="d-none d-md-block font-14">Add Notes</span>
            </a>
        </li>
    </ul>
    <div class="tab-content bg-transparent" id="main-container">
        <div id="note-full-container" class="note-has-grid row">
            <div *ngFor="let favorite of favorite" class="col-md-4 single-note-item all-category" style="">
                <!--start here for revision-->
                <div class="card card-body">
                    <span class="side-stick"></span>
                    <div class="img-workout">
                        <a href="./assets/images/{{favorite.name}}.jpg"><img src="./assets/images/{{favorite.name}}.jpg" alt=""></a>
                    </div>
                    <h5 class="note-title text-truncate w-75 mb-0" data-noteheading="Exercise title">
                        {{favorite?.name}} <i class="point fa fa-circle ml-1 font-10"></i></h5> <!--Potentially make circle change color depending on difficulty-->
                    <p class="note-date font-12 text-muted">{{favorite?.type}}</p>
                    <div class="d-flex align-items-center">
                        <span class="mr-1"><i (click)="onDeleteFavorite(favorite.id)"  class="fa fa-trash remove-note"></i></span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>